@charset "UTF-8";

body {
  font-family: "Kaisei Opti", serif;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #115d89;

  /* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

header {
  height: 70px;
  font-size: large;
  font-weight: bold;
  background-color: #0b1425;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li a {
  color: #e5dbc8;
}

header img {
  width: 50px;
}

header #logo img {
  width: 100%;
  max-width: 100px;
}

header #nav_logo {
  display: none;
}

/* header */

/* 星空の背景のスタイル */
.stars {
  position: relative;
  width: 100%; /* 星空の横幅 */
  height: auto; /* 星空の縦幅 */
  background-image: linear-gradient(
    0deg,
    #64adab,
    #115d89,
    #0b1425
  ); /* 星空の背景色 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
}

/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

main {
  color: #e5dbc8;
}

.mainvisual h2 img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center 30%;
}

.CONCEPT {
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 2rem;
}

.concept_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.active {
  animation-name: fadeInAnime;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.concept_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  max-width: 30rems;
  padding: 1rem 1rem;
  margin-top: 2rem;
}

.concept_text h2 {
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  padding: 1rem;
}

.concept_text p {
  color: aliceblue;
  text-align: center;
  line-height: 2rem;
  font-size: large;
  font-weight: 500;
}

.glowAnime span{opacity: 0;}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span{ animation:glow_anime_on 1s ease-out forwards; }

@keyframes glow_anime_on{
  0% { opacity:0; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
  50% { opacity:1;text-shadow: 0 0 10px #fff,0 0 15px #fff; }
  100% { opacity:1; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
}


/* concept */

.ABOUT h2{
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.About_Text{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  margin: 0 1rem;
  color: aliceblue;
}

.ABOUT img{
  width: 100%;
  max-width: 10rem;
  border: 3px solid #e5dbc8;
  border-radius: 10px;
}

.About_Box1,.About_Box2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.About_Item1{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.About_Item2{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem ;
}

/* ABOUT */

.NEWS {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

.NEWS h2 {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1rem;
}

.news_title {
  width: 100%;
  max-width: 10rem;
  max-height: 10rem;
  text-align: center;
  color: #e5dbc8;
  padding: 0.5rem 3rem;
  border-radius: 5px;
}

.news_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.news_item {
  display: flex;
  gap: 1rem;
  color: aliceblue;
}

.news_item dd {
  width: 30rem;
  border-bottom: #306e9a solid 1px;
}

.news_item span {
  border: solid #306e9a 1px;
}

/* NEWS */

.MENU {
  /* height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
  color: #306e9a;
}

.MENU h2 {
  padding: 2rem;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #ecdec6;
}

.MENU h3 {
  font-size: large;
  font-weight: bold;
  padding-bottom: 5px;
}

.MENU ul li {
  padding: 0.5rem;
}

.MENU ul li {
  font-size: medium;
}

.menu_wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border: 2px #e5dbc8 solid;
  border-radius: 3px;
  margin: 1.5rem auto;
  background-color: rgba(240, 248, 255, 0.163);
}

.menu_wrapper :hover {
  color: #e5dbc8;
  background-color: #306e9a;
}

.menu_food {
  text-align: center;
  background-color: #ecdec6;
  border-radius: 3px;
  padding: 1rem;
}

.menu_drink {
  text-align: center;
  background-color: #e5dbc8;
  border-radius: 3px;
  padding: 1rem;
}

/* menu */

.SERVICE {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.service_text01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  color: #306e9a;
  background-color: #e5dbc8;
  outline: 3px solid #306e9a;
  border-radius: 3px;
  outline-offset: -1rem;
  padding: 2rem;
  box-shadow: -13px 5px 34px -8px #777777;
}

.service_text01 h3 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.service_text01 p {
  font-size: medium;
  line-height: 2;
}

.service_text02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  color: #306e9a;
  background-color: #e5dbc8;
  outline: 3px solid #306e9a;
  border-radius: 3px;
  outline-offset: -1rem;
  padding: 2rem;
  box-shadow: -13px 5px 34px -8px #777777;
}

.service_text02 h3 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.service_text02 p {
  font-size: medium;
  line-height: 2;
}

/* service */

.ACCESS {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #ecdec6;
  text-align: center;
  padding: 3rem;
}

.ACCESS h2 {
  font-size: x-large;
  font-weight: bold;
}

.ACCESS h3 {
  font-weight: bold;
  font-size: large;
}

.access_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

/* Google Mapを囲う要素 */
.map {
  width: 100%;
  aspect-ratio: 16/6;
  /* 比率を4:3に固定 */
}

/* Google Mapのiframe */
.map iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* access */

.CONTACT {
  color: #306e9a;
  text-align: center;
  padding: 2rem;
}

.contact_wrap {
  margin: 0 auto;
  color: #e5dbc8;
  max-width: 550px;
  padding: 1rem;
}

.CONTACT h2 {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1rem;
}

.CONTACT p {
  padding-bottom: 1rem;
}

/* contact */

.SNS {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sns */

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #64adab;
  color: #e5dbc8;
  padding: 3rem;
}

.footer_sns {
  display: flex;
  gap: 1rem;
}

footer img {
  width: 50px;
}

#logo_footer img {
  width: 120px;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}

/* スライダーのwrapper */
.infinite-slider .swiper-wrapper {
  transition-timing-function: linear;
}

/* スライド */
.infinite-slider .swiper-slide {
  height: 320px !important;
  /* 高さを指定 */
  width: auto !important;
}


.infinite-slider .swiper-slide img {
  width: auto;
  height: 100%;
}

.swiper-slide p {
  text-align: center;
}

.swiper-slide img {
  max-width: 100%;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.swiper-slide {
  padding: 1rem;
}

html,
body {
  height: 100%;
}

@media (max-width: 1000px) {
  header {
    display: none;
  }

.About_Box1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About_Box2{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: block;
  background: #777;
  border-radius: 3px;
  z-index: 100;
}

label span {
  width: 60%;
  height: 4px;
  display: block;
  position: absolute;
  left: 20%;
  background-color: #fff;
  border-radius: 3px;

  transition: all 0.2s linear;
}

label span:nth-of-type(1) {
  top: 10px;
  transform: rotate(0);
}

label span:nth-of-type(2) {
  top: 18px;
  transform: scale(1);
}

label span:nth-of-type(3) {
  bottom: 10px;
  transform: rotate(0);
}

#open:checked + label span:nth-of-type(1) {
  top: 18px;
  transform: rotate(-45deg);
}

#open:checked + label span:nth-of-type(2) {
  transform: scale(0);
}

#open:checked + label span:nth-of-type(3) {
  bottom: 18px;
  transform: rotate(45deg);
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

#menu {
  position: fixed;
  top: 0;
  right: -240px;
  overflow: hidden;
  width: 200px;
  height: 100%;
  padding: 20px;
  transition: left.5s, right.5s;
  background-color: rgba(86, 86, 86, 0.7);
}

.toggle {
  font-size: 30px;
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}

#open {
  display: none;
}

#open:checked ~ #menu {
  right: 0;
}

.concept_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.About_Text{
  padding-bottom: 2rem;
}

.NEWS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SERVICE {
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.news_item dd {
  width: 12rem;
  text-align: center;
}
}

@media (max-width: 600px) {
  .mainvisual img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  .staff_wrap {
    flex-direction: column;
  }

  .menu_wrapper {
    flex-direction: column;
  }

  .SNS {
    flex-direction: column;
  }

  .SNS ul {
    padding-top: 1rem;
  }
}
